{% extends 'base.html.twig' %}

{% block body %}

    <h2>WAITER ACTIONS</h2>

    <p>{{ 'now' | localizeddate('full', 'none') }}</p>

    <h3>Taking an order</h3>
    {% for dish in dishes %}
        <ul>
            <li>{{ dish.title }}
                <label for="Dish">| Quantity :</label>
                <input type="number" value="0" min="1" max="100"></li>
        </ul>
    {% endfor %}

    <button id="_submit">Submit</button>

{% endblock %}

