{% extends 'base.html.twig' %}

{% block body %}

    <h2>EMPLOYEE OF THE MONTH</h2>

    <table>
        <tbody>
        <tr>
            <p><img class="employee_month" src="{{ img_employee_month }}" width="200" height="200"></p>
            <h3>Congratulations to you {{ username_employee_month }} !</h3>{#<td><img src="{{ new_user.urlimage }}" width="200" height="200"></td>#}
        </tr>

        </tbody>
    </table>

{% endblock %}