{% extends 'base.html.twig' %}

{% block body %}

    {#<h2>EMPLOYEE OF THE MONTH</h2>#}

    {#<table>#}
        {#<tbody>#}
        {#<tr>#}
            {#<p>{{ username_employee_month }}</p>#}{#<td><img src="{{ new_user.urlimage }}" width="200" height="200"></td>#}
            {#<p><img class="employee_month" src="{{ img_employee_month }}" width="200" height="200"></p>#}
        {#</tr>#}

        {#</tbody>#}
    {#</table>#}

{% endblock %}